<!-- Это мы говорим брять всю инфу с главного шаблона -->
{% extends 'base.html' %} 

<!-- Это тег шаблонизатора include, сюда будет включён код
из файла includes/header.html -->
{% include 'includes/header.html' %}

<!-- Это то, что описано на главной странице в блоке main -->
{% block content %}
<div class="container py-5">
  {% for post in posts %}
  <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>      
      <p>
        {{ post.text }}
      </p>
      {% if not forloop.last %} <hr> {% endif %}
  {% endfor %}
  </article>
</div>  
{% endblock %}

<!-- Это то, что описано в includes/footer.html -->
{% include 'includes/footer.html' %} 
